[submodule "FSwitch"]
	path = FSwitch
	url = https://github.com/Thbzz/FSwitch.git
[submodule "csapprox"]
	path = csapprox
	url = https://github.com/Thbzz/csapprox.git
[submodule "snipmate"]
	path = snipmate
	url = https://github.com/Thbzz/snipmate.vim.git
[submodule "protodef"]
	path = protodef
	url = https://github.com/Thbzz/ProtoDef.git
[submodule "std_c"]
	path = std_c
	url = https://github.com/Thbzz/std_c.zip.git
[submodule "colorschemes"]
	path = colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/std_c"]
	path = bundle/std_c
	url = https://github.com/Thbzz/std_c.zip.git
[submodule "bundle/protodef"]
	path = bundle/protodef
	url = https://github.com/Thbzz/ProtoDef.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/Thbzz/snipmate.vim.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = https://github.com/Thbzz/csapprox.git
[submodule "bundle/fswitch"]
	path = bundle/fswitch
	url = https://github.com/Thbzz/FSwitch.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/LustyJuggler"]
	path = bundle/LustyJuggler
	url = https://github.com/vim-scripts/LustyJuggler.git
